
<div class="message <%= 'me' if message.user.id == current_user.id %>">
  <div class="content_container">
    <div class="content">
      <h5> <%= message.content %> </h5>
    </div>
    <div class="auther">
      <p> <%= message.user.username %> </p>
    </div>
  </div>
</div>