<p style="color: green"><%= notice %></p>

<div class="container-fluied">
  <div class="row">
    <div class="col-3">
        <div class="card-body"><%= render 'form', room: Room.new %></div>
      <hr>

      <%@rooms.each do |room| %>

        <%= link_to room do %>
        <div class="card">
          <div class="card-body">
            <%= room.name %>
          </div>
        </div>
        <% end %>
      <% end %>

    </div>

    <div class="col-9"></div>
  </div>
</div>

<!--<h1>Rooms</h1>-->

<!--<div id="rooms">-->
  <%# @rooms.each do |room| %> <%#= render room %>
<!--  <p><%#= link_to "Show this room", room %></p>-->
  <%# end %>
<!--</div>-->

<%#= link_to "New room", new_room_path %>
